page-admin-detalle-usuario {
   .nava{
    .item-md.item-block .item-inner {
        padding-right: 8px;
        border-bottom: 0px solid #dedede !important;
    }
   }
    .detalleUsuario{

        .grid2{
            padding: 0 0px 0 0px;
            .conten{
                color: rgb(10, 10, 10);
                p{
                  
                    color: rgb(0, 0, 0);
                }
            }
        }
        .etiquetas{
            text-align: justify;
            font-weight: bold;
            color: black;

        }
        .nameUser{
            text-align: center;
            
            p{
                font-weight: bolder;
                font-size: 2rem;
                text-transform: capitalize;
                color: black;
            }
        }
        .usFoto{
            width: 87%;
            margin-left: auto;
            margin-right: auto;
            
            //height: 50vh;
            
        }

        
        .dp{
            -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
            height: 140px;
            width: 130px;
           // z-index: 10;
            //margin-top:-70px;
            //position: relative;
            //left:50%;
            margin-right:auto;
            margin-left: auto;
          // transform: translate(-50%,-50%);
            box-shadow: 0px 13px 40px -8px rgba(0,0,0,0.75);
        }
    }
}
