page-admin-productos {
    .card-background-page {
        display: flex;
        flex-direction: column;
        background-image: url('../../assets/imgs/fondo.jpg');
        background-size: cover;
        ion-card {
          position: relative;
          text-align: center;
        //  border: 2px solid blue;
          width: 90%;
          height: 100%;
          border-radius: 8px;

          img{
            height: 100%;
          }
          img:hover{
            cursor: pointer;
          }
        }
      
        .card-title {
            
            background-color: rgba(0, 0, 0, 0.808);
          position: absolute;
          top: 71%;
          font-size: 2.0em;
          width: 100%;
          font-weight: bold;
          color: #fff;
          bottom: 0px !important;

          ion-item{
            width: 100%;
            
             background-color: transparent;
             padding-top: 3px;
             padding-left: 6px;
             color: white;
             font-weight: bolder;
             font-size: 1.5rem;
             text-transform: capitalize;

             button{
                 background-color: greenyellow;
                 color: rgb(7, 36, 116);
             }
          }
        }
      
      }

     
}
